/* Body Design */
body {
    background:linear-gradient(to bottom, #66ccff 0%, #9999ff 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}
/* Header Setting */
h1 {
    text-align: center;
}

/* Design Table 1 */

.tabel1 {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #666;
}

.tabel1 tr th {
    background: #12a5e3;
    color: #fff;
    font-weight: normal;
}

.tabel1, th, td {
    padding: 10px 25px;
    text-align: center;
}

.tabel1 tr:hover {
    background-color: #9999ff;
}

.tabel1 tr:nth-child(even){
    background-color: #fff;
}

/* Desing List  */
ul.script {
    list-style-type: square;
}
ul.editor {
    list-style-type: circle;
}
ol.negara {
    list-style-type: upper-alpha;
}